/*------------------------------------*\
    #PRODUCTS
\*------------------------------------*/

.products {
  display: flex;
  flex-direction: column;
  gap: $spacing_lg;
  scroll-margin-top: $spacing_sm;
}
